/* 

NO-JS CSS

DO NOT UPDATE THIS FILE. It is for reference only. All CSS updates should be made in the CSS Editor (which automatically minifies and forces a CSS update).

*/



.kokako :is(h1, h2),
.kokako.textAndImage .image,
.kokako.columns .col,
.kokako.rows .col,
.kokako.posts .blog-grid.post {
	opacity: 1 !important;
	transform: translate(0) scale(1) !important;
	transition: all 1s ease-out !important;
}